<nav class="navbar navbar-dark bg-info">
    <a class="navbar-brand" routerLink="/"> <strong>My Shop App</strong> </a>
    <div class="form-inline" >
        <button class="btn btn-dark mr-sm-2" routerLink="/login">Login</button>&nbsp;
        <button class="btn btn-warning my-2 my-sm-o" routerLink="/register">Signup</button>
    </div>
    <div class="form-inline" >
        <div class="text-white">hello,Admin</div>
        <button class="btn btn-warning my-2 my-sm-o">Logout</button>
    </div>
</nav>